@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body antialiased;
}

.bg-dark {
  background-color: #060606;
  opacity: 0.1;
  z-index: 30;
}

.bg-cta {
  background-image: url(/assets/img/bg-cta-mobile.jpg);
}

.bg-figure {
  width: 112.5rem;
  height: 206.25rem;
}

@screen sm {
  .bg-figure {
    width: 131.25rem;
    height: 231.875rem;
  }

  .bg-cta {
    background-image: url(/assets/img/bg-cta-ipad.jpg);
  }
}

@screen md {
  .bg-figure {
    width: 115.875rem;
    height: 107.375rem;
  }
}

@screen lg {
  .bg-figure {
    height: 86.25rem;
  }

  .bg-cta {
    background-image: url(/assets/img/bg-cta-desktop.jpg);
  }
}

@screen xl {
  .bg-figure {
    width: 119.7rem;
    height: 87rem;
  }
}

@screen 2xl {
  .bg-figure {
    width: 118rem;
    height: 86rem;
  }
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

.toggle-bg:after {
  content: "";
  @apply absolute left-0.5 top-0.5 bg-white border border-gray-300 h-5 w-5 rounded-full ring-0 transition;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}
/* chart styles */
.apexcharts-tooltip {
  @apply bg-white text-gray-700 border-0 rounded-lg shadow-lg !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  @apply py-2 px-4 bg-gray-100 border-b border-gray-200 text-gray-900 !important;
}

.apexcharts-xaxistooltip {
  @apply text-gray-700 border-0 bg-white rounded-lg shadow-lg !important;
}

.apexcharts-xaxistooltip-text {
  @apply font-medium text-sm !important;
}

.apexcharts-xaxistooltip:before,
.apexcharts-xaxistooltip:after {
  @apply border-0 !important;
}





