
<div class="flex items-center justify-center pt-10 sm:pt-16 xl:pt-24">
  
  {% if page.has_previous %}
  <a href="?page={{ page.previous_page_number }}">
  <span>
    <i
      class="bx bx-chevrons-left text-secondary hover:text-purple transition duration-300 text-2xl pr-5"
    ></i>
  </span>
  </a>
  {% endif %}
  
  <span
    class="flex h-6 w-4 cursor-pointer items-center justify-center rounded-full px-4 py-4 text-sm font-bold text-neutrals-g03 transition duration-300 hover:bg-white hover:shadow"
    >Page
  </span>
  
  <span
    class="flex h-6 w-4 cursor-pointer items-center justify-center rounded-full px-4 py-4 text-sm font-bold text-neutrals-g03 transition duration-300 hover:bg-white hover:shadow"
    >{{ page.number }}
  </span>
  
  <span
    class="flex h-6 w-4 cursor-pointer items-center justify-center rounded-full px-4 py-4 text-sm font-bold text-neutrals-g03 transition duration-300 hover:bg-white hover:shadow"
    >of
  </span>
  
  <span
    class="flex h-6 w-4 cursor-pointer items-center justify-center rounded-full px-4 py-4 text-sm font-bold text-neutrals-g03 transition duration-300 hover:bg-white hover:shadow"
    >{{ page.paginator.num_pages }}.
  </span>
  
  {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">
        <span>
          <i
            class="bx bx-chevrons-right text-secondary hover:text-purple text-2xl pl-5 transition duration-300"
          ></i>
        </span>
      </a>
    {% endif %}
  
  </div>