{% extends "base.html" %}
{% load static %}
{% load course %}
{% block include_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
{% endblock %}
{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
{% with course=module.course %}

<div class="flex flex-col my-6 mx-4 rounded-2xl shadow-xl shadow-gray-200 h-screen">
  <div class="overflow-x-auto rounded-2xl">
      <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden">
            {% if module.contents.all|length > 0 %}
              <table class="min-w-full divide-y divide-gray-200 table-fixed">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                  <div class="lg:flex lg:items-center lg:justify-between">
                    <div class="min-w-0 flex-1">
                      <h2 class="text-left text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Course "{{ course.title }}"</h2>
                      <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
                        <div class="mt-2 flex items-center text-sm text-gray-500">
                          <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z"></path></svg>
                          # Of Chapters: {{course.modules.all|length}}
                        </div>
                        <div class="mt-2 flex items-center text-sm text-gray-500">
                          <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg>
                          # Of Content Items: {{module.contents.all|length}}
                        </div>
                      </div>
                    </div>
                    {% if course.modules.all|length > 0 %}
                    <div class="mt-5 flex lg:mt-0 lg:ml-4">
                      <span class="hidden sm:block">
                        <button id="dropdownDefault" data-dropdown-toggle="dropdown" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                          <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>                    
                          {{module.title}}
                        </button>
                        <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                          <ul id="modules" class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownDefault">
                            {% for m in course.modules.all %}
                            <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                              <a href="{% url "module_content_list" m.id %}" 
                              class=" block py-2 px-4 hover:bg-gray-100 ">{{ m.title }}</a>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </span>
                  
                      <span class="ml-3 hidden sm:block">
                        <button id="dropdownDefault" data-dropdown-toggle="dropdown2" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                          <!-- Heroicon name: mini/link -->
                          <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>                    
                          Add Content
                        </button>
                        <div id="dropdown2" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 433px, 0px);">
                          <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownDefault">
                            <li>
                              <a href="{% url "module_content_create" module.id "text" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text</a>
                            </li>
                            <li>
                              <a href="{% url "module_content_create" module.id "image" %}" class="block py-2 px-4 hover:bg-gray-100 ">Image</a>
                            </li>
                            <li>
                              <a href="{% url "module_content_create" module.id "video" %}" class="block py-2 px-4 hover:bg-gray-100 ">Video</a>
                            </li>
                            <li>
                              <a href="{% url "module_content_create" module.id "file" %}" class="block py-2 px-4 hover:bg-gray-100 ">File</a>
                            </li>
                            <li>
                              <a href="{% url "module_content_create" module.id "textwithimage" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text With Img</a>
                            </li>
                          </ul>
                      </div>
                      </span>
                      <span class="sm:ml-3">
                        <a href="{% url "course_module_update" course.id %}" type="button" class="inline-flex items-center rounded-md px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-[#B25C43] via-[#9F4241] to-[#8B283E] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300">

                          <svg class="-ml-1 mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                          Edit Chapters
                        </a>
                      </span>
                      <div class="relative ml-3 sm:hidden">
                        <button id="multiLevelDropdownButton" data-dropdown-toggle="multiLeveldropdown" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="mobile-menu-button" aria-expanded="false" aria-haspopup="true">
                          More
                          <!-- Heroicon name: mini/chevron-down -->
                          <svg class="-mr-1 ml-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </button>
                        <div id="multiLeveldropdown" class="hidden absolute right-0 z-10 mt-2 -mr-1 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" aria-orientation="vertical" tabindex="-1">
                          <ul class="py-1 text-sm text-gray-700 " aria-labelledby="multiLevelDropdownButton">
                            <li>
                              <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown2" data-dropdown-placement="top-start" type="button" class="flex justify-between items-center py-2 px-4 w-full hover:bg-gray-100 ">{{module.title}}<svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
                                <div id="doubleDropdown2" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                                  <ul class="py-1 text-sm text-gray-700 " aria-labelledby="doubleDropdownButton">
                                    {% for m in course.modules.all %}
                                    <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                                      <a href="{% url "module_content_list" m.id %}" 
                                      class=" block py-2 px-4 hover:bg-gray-100 ">{{ m.title }}</a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                              </div>
                            </li>
                            <li>
                              <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown3" data-dropdown-placement="top-start" type="button" class="flex justify-between items-center py-2 px-4 w-full hover:bg-gray-100 ">Add Content<svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
                                <div id="doubleDropdown3" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                                  <ul class="py-1 text-sm text-gray-700 " aria-labelledby="doubleDropdownButton">
                                    <li>
                                      <a href="{% url "module_content_create" module.id "text" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text</a>
                                    </li>
                                    <li>
                                      <a href="{% url "module_content_create" module.id "image" %}" class="block py-2 px-4 hover:bg-gray-100 ">Image</a>
                                    </li>
                                    <li>
                                      <a href="{% url "module_content_create" module.id "video" %}" class="block py-2 px-4 hover:bg-gray-100 ">Video</a>
                                    </li>
                                    <li>
                                      <a href="{% url "module_content_create" module.id "file" %}" class="block py-2 px-4 hover:bg-gray-100 ">File</a>
                                    </li>
                                    <li>
                                      <a href="{% url "module_content_create" module.id "textwithimage" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text With Img</a>
                                    </li>
                                  </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <div class="text-base font-semibold text-gray-900">No Content</div>
                    {% endif %}
                  </div>
                </caption>
                  <thead class="bg-white">
                      <tr>
                        <th scope="col" class="p-4 lg:p-5">
                          NO.
                        </th>
                          <th scope="col" class="p-4 text-xs font-medium text-gray-500 uppercase lg:p-5">
                              Module Name
                          </th>
                          <th scope="col" class="p-4 text-xs font-medium text-gray-500 uppercase lg:p-5">
                            Content Type
                        </th>
                        <th scope="col" class="p-4 text-xs font-medium text-gray-500 uppercase lg:p-5">
                          Edit | Delete Content
                      </th>
                      </tr>
                  </thead>
                  <tbody id="module-contents">
                    {% for content in module.contents.all %}
                    <tr data-id="{{ content.id }}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            {% with item=content.item %}
                            <td class="p-4 w-4">
                              # {{ forloop.counter }}
                            </td>
                            <th scope="row" class="py-4 px-6 text-sm font-normal text-gray-500 whitespace-nowrap lg:p-5">
                              <div class="text-base font-semibold text-gray-900">{{ item }}</div>
                            </th>
                            <th class="py-4 px-6">
                              ({{ item|model_name }})
                            </th>
                            <td class="flex flex-wrap items-center py-4 px-6 space-x-3 justify-center">
                              <a href="{% url "module_content_update" module.id item|model_name item.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <a type="button" data-modal-toggle="popup-modal_{{content.id}}" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-gradient-to-r from-[#B25C43] via-[#9F4241] to-[#8B283E] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg">
                              <svg class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                              Delete
                          </a>
                            </td>
                            
                            <div id="popup-modal_{{content.id}}" class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full">
                              <div class="relative px-4 w-full max-w-md h-full md:h-auto">
                                  <div class="relative bg-white rounded-2xl shadow-lg">
                                      <div class="flex justify-end p-2">
                                          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-2xl text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="popup-modal_{{content.id}}">
                                              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                                          </button>
                                      </div>
                                      <div class="p-6 pt-0 text-center">
                                          <svg class="mx-auto w-20 h-20 text-secondary" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                          <h3 class="mt-5 mb-6 text-xl font-normal text-gray-500">Are you sure you want to delete "{{item}} from Module "{{module.title}}"?</h3>
                                          <form action="{% url "module_content_delete" content.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" id="deleteCourseBtn" class="text-white bg-gradient-to-r from-[#B25C43] via-[#9F4241] to-[#8B283E] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg font-medium text-base inline-flex items-center px-3 py-2.5 mr-2 text-center">
                                              Yes, I'm sure
                                            </button>
                                          </form>
                                          <a class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center hover:scale-[1.02] transition-transform" data-modal-toggle="popup-modal_{{content.id}}">
                                              No, cancel
                                          </a>
                                      </div>
                                  </div>
                              </div>
                            </div>
                              {% endwith %}
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% else %}
            <div class="container lg:flex lg:items-center lg:justify-between">
              <div class="min-w-0 flex-1">
                <h2 class="text-center lg:text-left text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">No Content For: <span class="text-lg">Chapter "{{module.title}}" In Course: "{{ course.title }}"</span></h2>

              </div>
              <div class="flex align-center justify-center mx-auto mt-5 lg:mt-0 lg:ml-4">
                <span class="hidden sm:block">
                  <button id="dropdownDefault" data-dropdown-toggle="dropdown" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>                    
                    {{module.title}}
                  </button>
                  <div id="dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                    <ul id="modules" class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownDefault">
                      {% for m in course.modules.all %}
                      <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                        <a href="{% url "module_content_list" m.id %}" 
                        class=" block py-2 px-4 hover:bg-gray-100 ">{{ m.title }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </span>
            
                <span class="ml-3 hidden sm:block">
                  <button id="dropdownDefault" data-dropdown-toggle="dropdown2" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <!-- Heroicon name: mini/link -->
                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>                    
                    Add Content
                  </button>
                  <div id="dropdown2" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 433px, 0px);">
                    <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownDefault">
                      <li>
                        <a href="{% url "module_content_create" module.id "text" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text</a>
                      </li>
                      <li>
                        <a href="{% url "module_content_create" module.id "image" %}" class="block py-2 px-4 hover:bg-gray-100 ">Image</a>
                      </li>
                      <li>
                        <a href="{% url "module_content_create" module.id "video" %}" class="block py-2 px-4 hover:bg-gray-100 ">Video</a>
                      </li>
                      <li>
                        <a href="{% url "module_content_create" module.id "file" %}" class="block py-2 px-4 hover:bg-gray-100 ">File</a>
                      </li>
                      <li>
                        <a href="{% url "module_content_create" module.id "textwithimage" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text With Img</a>
                      </li>
                    </ul>
                </div>
                </span>
                <span class="sm:ml-3">
                  <a href="{% url "course_module_update" course.id %}" type="button" class="inline-flex items-center rounded-md px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-[#B25C43] via-[#9F4241] to-[#8B283E] hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300">

                    <svg class="-ml-1 mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                    Edit Chapters
                  </a>
                </span>
                <div class="relative ml-3 sm:hidden">
                  <button id="multiLevelDropdownButton" data-dropdown-toggle="multiLeveldropdown5" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="mobile-menu-button" aria-expanded="false" aria-haspopup="true">
                    More
                    <!-- Heroicon name: mini/chevron-down -->
                    <svg class="-mr-1 ml-2 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <div id="multiLeveldropdown5" class="hidden absolute right-0 z-10 mt-2 -mr-1 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" aria-orientation="vertical" tabindex="-1">
                    <ul class="py-1 text-sm text-gray-700 " aria-labelledby="multiLevelDropdownButton">
                      <li>
                        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown6" data-dropdown-placement="top-start" type="button" class="flex justify-between items-center py-2 px-4 w-full hover:bg-gray-100 ">{{module.title}}<svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
                          <div id="doubleDropdown6" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="doubleDropdownButton">
                              {% for m in course.modules.all %}
                              <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                                <a href="{% url "module_content_list" m.id %}" 
                                class=" block py-2 px-4 hover:bg-gray-100 ">{{ m.title }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                        </div>
                      </li>
                      <li>
                        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown7" data-dropdown-placement="top-start" type="button" class="flex justify-between items-center py-2 px-4 w-full hover:bg-gray-100 ">Add Content<svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
                          <div id="doubleDropdown7" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="doubleDropdownButton">
                              <li>
                                <a href="{% url "module_content_create" module.id "text" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text</a>
                              </li>
                              <li>
                                <a href="{% url "module_content_create" module.id "image" %}" class="block py-2 px-4 hover:bg-gray-100 ">Image</a>
                              </li>
                              <li>
                                <a href="{% url "module_content_create" module.id "video" %}" class="block py-2 px-4 hover:bg-gray-100 ">Video</a>
                              </li>
                              <li>
                                <a href="{% url "module_content_create" module.id "file" %}" class="block py-2 px-4 hover:bg-gray-100 ">File</a>
                              </li>
                              <li>
                                <a href="{% url "module_content_create" module.id "textwithimage" %}" class="block py-2 px-4 hover:bg-gray-100 ">Text With Img</a>
                              </li>
                            </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <section class="bg-white dark:bg-gray-900">
              <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                  <div class="mx-auto max-w-screen-sm text-center">
                      <h1 class="mb-4 text-5xl tracking-tight font-extrabold lg:text-7xl text-primary-600 dark:text-primary-500">Empty</h1>
                      <p class="mb-4 text-xl tracking-tight font-bold text-gray-900 md:text-2xl dark:text-white">Something's missing.</p>
                      <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, nothing to see here add items to get started.</p>
                      <a href="#" class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">Back to Homepage</a>
                  </div>   
              </div>
          </section>
            {% endif %}
          </div>
      </div>
  </div>
</div>
{% endwith %}
{% endblock %}

{% block include_js %}
<script 
src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js">
</script>
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
{% endblock %}

{% block domready %}
  var options = {
      method: 'POST',
      mode: 'same-origin'
  }

  const moduleOrderUrl = '{% url "module_order" %}';

  sortable('#modules', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
  })[0].addEventListener('sortupdate', function(e) {

    modulesOrder = {};
    var modules = document.querySelectorAll('#modules li');
    modules.forEach(function (module, index) {
      // update module index
      modulesOrder[module.dataset.id] = index;
      // update index in HTML element
      module.querySelector('.order').innerHTML = index + 1;
      // add new order to the HTTP request options
      options['body'] = JSON.stringify(modulesOrder);

      // send HTTP request
      fetch(moduleOrderUrl, options)
    });
  });

  const contentOrderUrl = '{% url "content_order" %}';

  sortable('#module-contents', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
  })[0].addEventListener('sortupdate', function(e) {

    contentOrder = {};
    var contents = document.querySelectorAll('#module-contents tr');
    contents.forEach(function (content, index) {
      // update content index
      contentOrder[content.dataset.id] = index;
      // add new order to the HTTP request options
      options['body'] = JSON.stringify(contentOrder);

      // send HTTP request
      fetch(contentOrderUrl, options)
    });
  });

{% endblock %}
