{% extends "base.html" %}

{% block title %}Payment successful{% endblock %}

{% block content %}
<div aria-hidden="true" class="justify-center items-center w-full md:inset-0">
  <div class="p-4 w-full">
      <div class="p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">

          <div class="w-12 h-12 rounded-full bg-green-100 dark:bg-green-900 p-2 flex items-center justify-center mx-auto mb-3.5">
              <svg aria-hidden="true" class="w-8 h-8 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Success</span>
          </div>
          <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">Your payment was successful</p>

      </div>
  </div>
</div>
  <h1>Your payment was successful</h1>
  <p>Your payment has been processed successfully.</p>
  <a href="{% url "student_course_list" %}"><strong>View Your Courses</strong></a>.</p>
  <p><strong>{{ message }}</strong></p>
  <table class="cart">
    <thead>
      <tr>
        <th>Course</th>
        <th>Price</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {% for item in courses %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.title }}</td>
          <td class="num">${{ item.price }}</td>
          <td class="num">{{ item.id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
